body {
    background-color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Styling af Html */

header {
    text-align: center;
    width: 100%;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}

#barChart {
display: grid;
grid-template-columns: repeat(40, 1fr);
gap: 3px;
align-items: end;
}

.bar {
    background-color: blue;
    outline: 1px solid black;

    height: 200px;
}